 body{
    background-image: url(../images/bg-desktop.svg);
    background-color: hsl(257, 40%, 49%);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
 
} 
.header .logo{
    margin-top: 45px;
    margin-left: 69px;
    max-width: 214px;
}
 .main{
    display: flex;
    justify-content: center;
    align-items: center;
   
}

.main .mockups{
    width: 100%;
    margin-left: 69px;
    margin-top: 50px;
  
}
.main .textos{
    margin-right: 69px ;
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    margin-top: 86px;
    margin-left: 55px;

   
    

}
.main .textos .titulo{ 
    font-size: 40px;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
   
}
.main .textos .descricao{
    color: #E0D2FD;
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
    padding-top: 25px ;

}
.main .botao{
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    color: hsl(257, 40%, 49%); 
    background-color: white;
    border-radius: 50px;
    max-width: 200px;
    min-height: 53px;
    text-align: center;
    align-content: center;
    font-size: 18px;
    box-shadow: 0px 0px 7px rgb(0, 0, 0);
    transition: 0.4s ease-in-out;
    margin-top: 35px ;
}
.main .botao:hover{
    cursor: pointer;
    color: white;
    background-color: hsl(300, 69%, 71%);
}

.footer{
    text-align: right;
    margin: 20px 69px 45px 0px ;
}
.footer i{
    color: white;
    font-size: 18px;
    border: 2px solid white;
    border-radius: 50px;
    padding: 10px;
    margin-left: 18px;
    transition: 0.4s ease-in-out;
    
}
.footer i:hover{
    cursor: pointer;
    color:  hsl(300, 69%, 71%);
    border: 2px solid  hsl(300, 69%, 71%);
}
